.padding-10 {
    padding: 10px;
}
.tr-gray {
    background: #e6e5e5;
}
.tr-gray:hover {
    background: #e8e8e8 !important;
}
.main-sidebar {
    background: #3c8dbc !important;
}
.sidebar .sidebar-menu .header {
    background: #3c8dbc !important;
    font-size: 20px;
    color: #fff !important;
}
.skin-blue .sidebar a {
    color: #fff;
}
.main-header .logo{
    position: fixed;
}
.main-sidebar {
    position: fixed !important;
}
.m-t-5 {
    margin-top: 5px;
}
.m-t-10 {
    margin-top: 10px;
}
.m-t-15 {
    margin-top: 15px;
}
.m-t-20 {
    margin-top: 20px;
}